<div class="ui container" style="padding-top: 20px">
    <form class="ui form" method="post" action="lista-add-produtos">
        <div class="ui grid">
            <div class="sixteen wide field">
                <label>Ocasião</label>
                <select class="ui fluid dropdown" name="ocasiao">
                    <option></option>
                    <option value="compra">Estou comprando</option>
                    <option value="cotacao">Apenas cotando</option>
                </select>
            </div>
            <div class="sixteen wide field">
                <label>Onde vou comprar</label>
                <select class="ui search dropdown" name="mercado">
                    <option></option>
                    <option value="big master">Super Mercado Big Master</option>
                    <option value="assai">Assai Atacadista</option>
                    <option value="tropical">Super Mercado Tropical</option>
                    <option value="atacadao">Atacadão Atacadista</option>
                    <option value="nao sei">Ainda Não sei</option>
                </select>
            </div>
            <div class="sixteen wide field" style="padding-top: 10px" align="center">
                <button class="ui button" type="reset">Limpar</button>
                <button class="ui primary button" type="submit">Incluir</button>
            </div>
        </div>
    </form>
</div>

