<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../vendor/semantic/ui/dist/semantic.css">
    <title>Usuário</title>
</head>
<body>

<div class="ui container" style="padding-top: 50px">

    <h3 class="ui dividing centered aligned header">Vamos as Compras</h3>
    <form class="ui form" method="post" action="#" style="padding-top: 15px">
        <div class="ui grid">
            <div class="sixteen wide field">
                <label>Tipo de Lista</label>
                <select class="ui fluid dropdown">
                    <option></option>
                    <option value="1">Compra</option>
                    <option value="2">Orçamento</option>
                </select>
            </div>
            <div class="sixteen wide field">
                <label>Onde vou comprar</label>
                <select class="ui search dropdown">
                    <option></option>
                    <option value="1">Super Mercado Big Master</option>
                    <option value="2">Assai Atacadista</option>
                </select>
            </div>
            <div class="sixteen wide field" style="padding-top: 10px" align="center">
                <button class="ui button" type="reset">Limpar</button>
                <button class="ui primary button" type="submit">Incluir</button>
            </div>
        </div>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="../../vendor/semantic/ui/dist/semantic.js"></script>
<script>
    $('select.dropdown')
        .dropdown()
    ;
</script>
</body>
</html>