<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../vendor/semantic/ui/dist/semantic.css">
    <title></title>
</head>
<body>

<div class="ui container" style="padding-top: 50px">

    <form class="ui form" method="post" action="#">
        <div class="ui grid">
            <h3 class="ui dividing center aligned header">Device Column Width</h3>
            <div class="eight wide field">
                <label>Teste</label>
                <input>
            </div>
            <div class="eight wide field">
                <label>Teste</label>
                <input>
            </div>
        </div>
    </form>


</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="../../vendor/semantic/ui/dist/semantic.js"></script>
<script>
    $('select.dropdown')
        .dropdown()
    ;
</script>
</body>
</html>