<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="../../vendor/semantic/ui/dist/semantic.js"></script>
<script>
    $('.ui.sidebar').first()
        .sidebar('attach events', '.setting', 'show')
    ;
    $('.setting')
        .removeClass('disable')
    ;
    $('select.dropdown')
        .dropdown()
    ;
    $('.coupled.modal')
        .modal({
            allowMultiple: true
        })
    ;
    $('.second.modal')
        .modal('attach events', '.plus', 'show')
    ;
    $('.first.modal')
        .modal('attach events', '.green.button', 'show')
    ;
</script>
</body>
</html>