<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Economize</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Semantic core CSS -->
    <link href="vendor/semantic/ui/dist/semantic.css" rel="stylesheet">
</head>
<body>