<!-- Menu Superior -->
<div class="ui three top attached buttons">
    <div class="ui green icon button">
        <i class="large setting icon"></i>
    </div>
    <div class="ui green icon button">
        <i class="large home icon"></i>
    </div>
    <div class="ui green icon button">
        <i class="shopping basket icon"></i>
    </div>
</div>


<!-- Botões Footer -->
<div class="ui green bottom fixed two item inverted menu">
    <a href="#" class="item">
        <i class="shop icon"></i>
        Lista
    </a>
    <a href="#" class="item">
        <i class="bar chart icon"></i>
        Consultar
    </a>
</div>

<!-- Menu Lateral -->
<div class="ui sidebar vertical menu">
    <div class="item" style="background-color: #16ab39">
        <img class="ui tiny avatar image" src="https://semantic-ui.com/images/avatar2/large/molly.png">
        <span style="color: white;font-size: large">Username</span>
    </div>
    <div class="item">
        <div class="header">Produtos</div>
        <div class="menu">
            <a class="item" href="novoProduto">Novo Produto</a>
            <a class="item">Marca</a>
            <a class="item">Quantidade</a>
            <a class="item">Medidas</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Estabelecimento</div>
        <div class="menu">
            <a class="item">Novo Estabelecimento</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Configurações</div>
        <div class="menu">
            <a class="item">Salvar informações</a>
            <a class="item">Enviar por e-mail</a>
        </div>
    </div>
    <div class="item">
        <div class="header">Supporte</div>
        <div class="menu">
            <a class="item">E-mail Support</a>
            <a class="item">FAQs</a>
        </div>
    </div>
</div>